<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1> Welcome to the Text Analyzer. Enter your text below </h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 704px; height: 137px;'></textarea>
    <br>
    <input type='checkbox' name='removepunc'> Remove Punctuations<br>
    <input type='checkbox' name='fullcaps'> UPPERCASE<br>
    <input type='checkbox' name='newlineremover'> Newline Remover<br>
    <button type='submit'> Analyze Text </button>
</form>
</body>
</html>